<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="nl"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Basic Setup -->
        <title>Angular Basics - Todo list</title>
        <meta name="description" content="First Angular App">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="assets/style/normalize.css">
        <link rel="stylesheet" href="assets/style/foundation.min.css">
        <link rel="stylesheet" href="style.css">
        
        <!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,600' rel='stylesheet' type='text/css'>

	</head>
<body ng-app="todoListApp">
	
    <div class="row">
        <div class="columns">
            <h1>My todos</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="columns">
            <div class="list" ng-controller="mainCtrl">
                <div class="add">
                    <a href="" ng-click="addTodo()" >+ Add a New Task</a>
                </div>
                <div ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}">
                    <input ng-click="todo.edited = true" ng-model="todo.completed" type="checkbox"/>
                    <label ng-hide="editing" ng-click="editing = true" class="editing-label">{{todo.name}}</label>
                    <input ng-show="editing" ng-change="todo.edited = true" ng-blur="editing = false" ng-model="todo.name" class="editing-label" type="text"/>
                    <div class="actions">
                        <!--a href="" ng-click=" editing = !editing " class="edit">edit</a-->
                        <a href="" ng-click="saveTodos(todo)" class="save">save</a>
                        <a href="" ng-click="deleteTodo(todo)" class="delete">delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- DEVELOPMENT -->
	<script src="assets/scripts/jquery.js" type="text/javascript"></script>
	<script src="assets/scripts/jquery-migrate.js" type="text/javascript"></script>

<!-- BUILD -->
	<script src="assets/scripts/placeholder.js" type="text/javascript"></script>
	<script src="assets/scripts/foundation.js" type="text/javascript"></script>
	<script src="assets/scripts/foundation.equalizer.js" type="text/javascript"></script>
    <script src="assets/scripts/foundation.abide.js" type="text/javascript"></script>

<!-- Angular -->
    <script src="assets/scripts/angular.min.js" type="text/javascript"></script>
    <script src="assets/scripts/app.js" type="text/javascript"></script>
    <script src="assets/scripts/controllers/main.js" type="text/javascript"></script>
    <script src="assets/scripts/services/data.js" type="text/javascript"></script>
    <script src="assets/scripts/directives/todos.js" type="text/javascript"></script>
	<!--script src="assets/scripts/own.js" type="text/javascript"></script-->
    <!-- Developed by Kali Wever, Tesseractive Media -->
</body>
</html>