@import 'helpins';

/* General
-------------------------*/

html, body{
	height: 100%;
	background-color: #eee;
}


/* Header
-------------------------*/

	header{
		

		
	}



/* Content
-------------------------*/
	
	.add{
		margin: 10px 0;
		margin-bottom: 20px;
	}

	h1{
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin: 25px 0;
	}
	
	div.list{
		background-color: #fff;
		padding: 25px;
		border-top: 50px solid #be3333;
		border-radius: 5px;

		input[type="checkbox"]{
			float: left;
		}
		label{

		}
		input[type="text"]{

		}
	}

	.editing-item{
		.delete{
			color: red;
		}
	}
	.edited{
		&:after{
			content: "edited";
		}
	}

	.completed{
		label{
			text-decoration: line-through;
			color: #999;
		}
	}



/* Footer
-------------------------*/

	footer{
		


	}

@import 'media_queries';

