<div class="list">
    <div class="add">
        <a href="" ng-click="addTodo()" >+ Add a New Task</a>
    </div>
    <div ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}">
        <input ng-model="todo.completed" type="checkbox"/>
        <label ng-hide="editing" class="editing-label">{{todo.name}}</label>
        <input ng-show="editing" ng-change="todo.edited = true" ng-blur="editing = false" ng-model="todo.name" class="editing-label" type="text"/>
        <div class="actions">
            <a href="" ng-click=" editing = !editing " class="edit">edit</a>
            <a href="" ng-click="saveTodo(todo)" class="save">save</a>
            <a href="" ng-click="deleteTodo(todo)" class="delete">delete</a>
        </div>
    </div>
</div>